<div class="task-container">
<div class="task">
<p class="flash"><%= flash[:message] %></p>

<h3 id="name"><%= @task.name %></h3><br><br>
<% if authorized?(@task) %>
    <a id="def" href="/tasks/<%= @task.id %>/edit">Edit Task</a><br>

    <form action="/tasks/<%= @task.id %>/done" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="This task is DONE.">
    </form>

    <br><br><br>
    <form action="/tasks/<%= @task.id %>" method="post" onSubmit="return confirm('Are you sure you wish to delete this task?')">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
    </form>
    <br><br>
<% end %>
</div>
</div>
