<div id="greeting">
     <h1><i>Hello, <%= @user.username %>!</i></h1>
     <p class="flash"><%= flash[:message] %></p>
</div>

<div class="container">
     <div class="first-box">
     <u>To be done</u><br><br>
     <% Task.all.each do |task|%>
     <% if task.user_id == current_user.id && task.status == "in progress" %>
     <a class="links" href="/tasks/<%= task.id %>"><%= task.name %></a><br><br>
     <% end %>
     <% end %>
     </div>

     <div class="second-box">
     <u>DONE!</u><br><br>
     <% Task.all.each do |task|%>
     <% if task.user_id == current_user.id && task.status == "done" %>
     <s><%= task.name %></s><br><br>
     <% end %>
     <% end %>
     </div>

<br><br>

     <div class="third-box">
     <% done_count = Task.all.count { |t| t.user_id == current_user.id && t.status == "done"}%>
     <% if done_count == 0 %>
          Looks like its time to get your first task done!
     <% elsif done_count == 1 %>
          First task done!
     <% else %>
          You've done <%= done_count %> tasks! Nice work!
     <% end %>
     </div>
</div>